omnistream/omniop-flink-extension/java/target/
omnistream/omniop-flink-extension/omni-table-planner/target/
.idea
build
**/target/
**/.mvn
pom.xml.tag
pom.xml.releaseBackup
dependency-reduced-pom.xml
.metals/
.scalafmt.cache
**/.scalafix-metadata/
.pre-commit-cache/
__pycache__/
*.pyc
